.header {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.btns-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-date {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
